table.boards th.board-header { background-color: transparent; text-align: left; font-size: 1.25em; padding: 1.25em 0.125em 0.5em;}
.doc-icon svg {width: 1em; height: 1em; vertical-align: middle;}
a .doc-icon svg {fill: #5778d8;}
.tc-tiddler-frame .tc-titlebar svg {opacity: 0; transition: opacity .5s ease-in-out;}
.tc-tiddler-frame:hover .tc-titlebar svg {zoom: 1; filter: alpha(opacity=100); opacity: 1;}
.doc-downloads {float: right; padding-bottom: 3em; margin-top: -1em;}
.doc-header {display: flex; flex-direction: row; clear: both; margin-bottom: 5em;}
.doc-header .quote {flex: 3}
.doc-header .title {flex: 4}
.doc-header .logo {flex: 3}
.doc-header .title {white-space: pre; text-align: center; font-weight: bold;} 
.doc-header .logo img {margin-top: -1em; width: 75%;}

div[data-tiddler-title^="Bylaws"] .tc-tiddler-body h2  {font-weight: 500;}
div[data-tiddler-title^="Bylaws"] .tc-tiddler-body h3  {font-weight: 600;}

/*table.candidates {width: 100%}*/
table.candidates.slate {width: 100%}
table.candidates td, table.candidates th {padding: 1em;}
table.candidates ul {list-style: none; padding-left: 0;}
table.candidates td, table.candidates th {border: 1px solid #ccc; text-align: left;}
table.candidates thead th {font-size: 1.25em; padding: .5em;}
table.candidates td, table.candidates th {padding: .5em 3em .5em 1em;}
table.candidates button {margin-left: 1em;}
table.candidates td.Democratic, table.party tr.Democratic td {background: #C8E4FA;}
table.candidates td.Republican, table.party tr.Republican td {background: #fee;}
table.candidates td.Independent, table.party tr.Independent td {background: #f8eef8;}
table.candidates th.Democratic {background: #90c9f8;}
table.candidates th.Republican {background: #fcc;}
table.candidates th.Independent {background: #d8ccd8;}

div.avatar {float: right; margin-top: -1em; margin-left: .5em;}
div.avatar img {border-radius: 50%; width: 150px; border: 2px solid #ccc}
img.mini.avatar {border-radius: 50%; width: 2em; border: 1px solid #ccc; vertical-align: middle;}

dd.signs img, table.signs img, details.signs img {width: 20em;}
dd.signs svg, table.signs svg, details.signs svg {width: 20em;}
.sign-org {margin-left: 2em;}

table.signs ul {padding-inline-start: 1em;}
table.signs tr:nth-child(2n) svg {direction: ltr;}
table.signs tr:nth-child(2n) {direction: rtl; ul {padding-inline-start: 1em;}}
table.signs tr:nth-child(2n) svg {direction: ltr;}

table.signs ul {list-style: none;}
table.signs, table.signs td {border: none; padding-bottom: 2em;}

ul.residents {list-style: none; padding-left: 1em;}

.brochure-only {display: none;}
